# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


.env*
!.env.sample

*.tsbuildinfo

# Firebase cache & local state
.firebase/

# Firebase project configuration (contains project IDs)
.firebaserc

# Firebase Emulator Suite data
firebase-debug.log
database-debug.log

firebase.json
